---

debian:10--gcc:
  image: registry.dune-project.org/docker/images/ci/dune-pdelab-deps:2.6
  script: duneci-standard-test
  tags:
    - "cores:4"
    - "mem:16G"

debian:10--clang:
  image: registry.dune-project.org/docker/images/ci/dune-pdelab-deps:2.6
  script: duneci-standard-test
  variables: {DUNECI_OPTS: /duneci/opts.clang}
  tags:
    - "cores:4"
    - "mem:16G"
