---

variables:
# Suitesparse, as installed with Debian, is thread-parallel using OpenMP.
# OpenMP silently assumes, it can spawn as many threads as there are cores.
# In a worst case scenario, this leads to a number of threads quadratic in
# the core count, if you also do parallel test execution with the maximum
# number of cores. We solve the issue by disallowing OpenMP to allocate more
# than one thread.
  OMP_NUM_THREADS: 1
  DUNECI_PARALLEL: 4

.common: &common
  script:
    - duneci-standard-test
    # test tutorials as well
    - export DUNE_CONTROL_PATH=$(pwd):/duneci/modules:$DUNE_CONTROL_PATH
    - duneci-install-module https://gitlab.dune-project.org/pdelab/dune-pdelab-tutorials.git
    - cd /duneci/modules/dune-pdelab-tutorials && duneci-standard-test

debian:10--gcc:
  <<: *common
  image: registry.dune-project.org/docker/ci/dune-pdelab-deps:git
  tags:
    - "cores:4"
    - "mem:16G"
    - "site:ms"

debian:10--clang:
  <<: *common
  image: registry.dune-project.org/docker/ci/dune-pdelab-deps:git
  variables: {DUNECI_OPTS: /duneci/opts.clang}
  tags:
    - "cores:4"
    - "mem:16G"
    - "site:ms"
